<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <api>
            <GraphQL>
                <endpoints>
				<master type="Sitecore.Services.GraphQL.Hosting.GraphQLEndpoint, Sitecore.Services.GraphQL.NetFxHost">
                        <schema hint="list:AddSchemaProvider">
                            <company type="Sitecore.GraphQL.CustomSchema.ProductionCompanySchemaProvider, Sitecore.GraphQL.CustomSchema" />
							<whoDat type="Sitecore.GraphQL.CustomSchema.WhoAmISchemaProvider, Sitecore.GraphQL.CustomSchema" />
                        </schema>
                    </master>
				</endpoints>
			</GraphQL>
		</api>
	</sitecore>
</configuration>
